
body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
    

}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.titles {
    font-weight: bold;
    font-size: 13em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px 0;
}


.container1 {
    position: relative;
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto; 
}


.commonContAtt {
    gap: 20px;
    padding: 10px;
    width: 100%;
    max-width: 1100px;
    justify-content: center;
    background-color:transparent;
    transition: all 0.25s;
    border-radius: 10px;
    backdrop-filter: blur(3px);
   
}




.commonBatt {
    display: flex; 
    min-width: 100px; 
    padding: 10px;
    font-size: clamp(19px, 9vw, 25px); 
    text-align: center; 
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 190px;
    height: 80px;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(5, 5, 5, 0.1);
    transition: all 0.25s;
   
}



.commonBatt:hover {
    transform: scale(1.1);
}
.commonBatt:active {
    opacity: 0.5;
 
}




.commonPatt{
    color: white;
    font-size: clamp(17px, 9vw, 19px); 
    text-align: center; 
    font-weight: bold;
   
}


@media (max-width: 1024px) {


    .commonBatt {
        font-size: 1.5rem;
        width: 90px;
        height: 70px;
    }

    .commonContAtt {
        grid-template-columns:   auto auto auto auto; ;
    }
}


@media (max-width: 600px) {
    .titles {
        font-size: 5em;
    }

    .commonBatt {
        font-size: 1rem;
        width: 60px;
        height: 60px;
    }

    .commonContAtt {
        grid-template-columns:  auto auto auto auto;
        margin-left: 20px;
    }
}




